-const title = "Lieux"
-const places = ["Le Bozar", "Le Senghor", "La Bellone", "Le 140"]
include ../../components/head.pug
      main.app#app
        .content(data-page="places")
            section.places
              .places__container
                each item in places
                 .places__item 
                    h2=item
              .info
                 .nbr  
                   .nbr-container 
                     .nbr-wrapper
                      -for(let i = 0; i<places.length; i++)
                       span.nbr-index=(i + 1)
                   .nbr-length="/"+places.length
                 p.drag Cliquer et glisser