@use '../abstracts/mixins' as *;

.home{
    width: 90%;
    margin: 12rem auto 0 auto;
    @include tablet{
        width: 98%;
    }
    &__wrapper-imgs{
        @include tablet{
            display: flex;
            justify-content: space-between;
        }
    }
    &__img{
        margin-top: 2rem;
        @include tablet{
            width: 49.5%;
            height: 100vh;
            margin-top: 0;
        }
    }
    &__title{
        text-align: center;
        font-size: 6.5rem;
        @include phone{
            font-size: 10rem;   
        }
        @include tablet{
            font-size: 25vw;
        }
    }
}
.about{
    padding: 5rem 0;
    &__edition{
        margin: 2rem auto;
        @include tablet{
            width: 40%;
            margin: 5rem auto;
        }
    }
    &__title{
        margin-bottom: 2rem;
        @include tablet{
            text-align: center;
        }
    }
}