@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *; 
.menu{
	padding: 3.5rem 0;
	&__container {
		@extend %flex_between;
	}
	&__nav{
		position: relative;
		.menu-line{
			position: absolute;
			border: 1px solid $orange;
			height: 100%;
			pointer-events: none;
		}
	}
	&__list{
		display: inline-block;
		margin-right: 1rem;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link{
		font-family: "Circular";
		color: black;
		padding: 0.4rem 0.8rem;
		@include laptop{
			font-size: 1.25vw; 
		}
		&.active-link{
			color: $orange;
			pointer-events: none;
		}
	}
}