@use './colors' as *;
@use './mixins' as *;
h1, h2, h4, h5, h6, #logo{
  color: $colorTitle;
  font-family: "Mongoose";
  font-weight: lighter;
  text-transform: uppercase;
  }
h1{
  line-height: 0.85;
}
h2{
  font-size: 3.5rem;
  line-height: 0.95;
  @include phone{
    font-size: 6rem;
  }
  @include tablet{
    font-size: 7.5vw;
  }
}
p{
  font-family: "Circular";
  line-height: 1.5; 
  @include tablet{
    font-size: 1.3vw;
  }
}