-const title = "Contact"
include ../../components/head.pug
      main.app#app
        .content
            .bg-black
            section.contact.mg-top
              h1 Contact

      include ../../components/footer.pug