-const title = "Contact"
include ../../components/head.pug
      main.app#app
        .content#black
            .bg-black
            section.contact.mg-top.w-90
              h1.contact__title Nous contacter
              .contact__form-container
                form.contact__form(method="post") 
                   .contact__form-head
                      button.contact__btn-previous(type="button", data-btn="prev") Précédent
                      .contact__form-nbr 
                           .form-index.inline
                           .form-length.inline
                   .contact__wrapper
                     .form__first-name.center-input 
                       label(for="first_name") Quel est votre nom et prénom ?
                       input#first_name.input(type="text", placeholder="Nom et prénom" name="first_name")
                       .contact__message-bottom
                          p.form__error
                          button.contact__btn-next(type="button", data-btn="next") Suivant
                     .form__email.center-input
                       label(for="email") Où pouvons-nous vous contacter ?
                       input#email.input(type="text", placeholder="Email" name="email")
                       .contact__message-bottom
                          p.form__error
                          button.contact__btn-next(type="button", data-btn="next") Suivant
                     .form__message.center-input
                       label(for="message") Quel est votre message ?
                       textarea#message.input(name="message", placeholder="Message" cols="20", rows="4")
                       .contact__message-bottom
                          p.form__error
                          button.contact__btn-submit(type="submit") Envoyer
                     

             
      include ../../components/footer.pug