
footer.footer
  .footer__container.w-90
     .footer__wrapper  
       .footer__item 
         h4 Professionnels
         a.line-hover.link(href="https://www.brusselsdance.eu/fr/mallette-pedagogique", target="_blank", rel="noopener noreferrer")  Mallette pédagogique
       .footer__item 
         h4 Contact
         a.line-hover.link(href="mailto:coordination@brusselsdance.eu") coordination@brusselsdance.eu
       .footer__item 
         h4 Suivez-nous
         ul.footer__socials-wrapper
           li.footer__socials 
             a(href="https://www.instagram.com/brusselsdance", aria-label="instagram" target="_blank", rel="noopener noreferrer") 
               span.footer__socials-icon 
                 svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                   path( d="M13 0H5C2.23858 0 0 2.23858 0 5V13C0 15.7614 2.23858 18 5 18H13C15.7614 18 18 15.7614 18 13V5C18 2.23858 15.7614 0 13 0ZM16.25 13C16.2445 14.7926 14.7926 16.2445 13 16.25H5C3.20735 16.2445 1.75549 14.7926 1.75 13V5C1.75549 3.20735 3.20735 1.75549 5 1.75H13C14.7926 1.75549 16.2445 3.20735 16.25 5V13ZM14.75 4.25C14.75 4.80228 14.3023 5.25 13.75 5.25C13.1977 5.25 12.75 4.80228 12.75 4.25C12.75 3.69772 13.1977 3.25 13.75 3.25C14.3023 3.25 14.75 3.69772 14.75 4.25ZM9 4.5C6.51472 4.5 4.5 6.51472 4.5 9C4.5 11.4853 6.51472 13.5 9 13.5C11.4853 13.5 13.5 11.4853 13.5 9C13.5027 7.80571 13.0294 6.65957 12.1849 5.81508C11.3404 4.97059 10.1943 4.49734 9 4.5ZM9 11.75C7.48122 11.75 6.25 10.5188 6.25 9C6.25 7.48122 7.48122 6.25 9 6.25C10.5188 6.25 11.75 7.48122 11.75 9C11.75 10.5188 10.5188 11.75 9 11.75Z" fill="white")
           li.footer__socials 
             a(href="https://twitter.com/Brussels_Dance", aria-label="twitter" target="_blank", rel="noopener noreferrer")
               span.footer__socials-icon 
                 svg(width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                   path( d="M19.9699 2.46378C19.4539 3.15213 18.8301 3.75258 18.1227 4.24195C18.1227 4.42177 18.1227 4.60158 18.1227 4.79139C18.1283 8.0568 16.824 11.1879 14.5021 13.4828C12.1801 15.7777 9.03481 17.0443 5.77126 16.9988C3.88453 17.0051 2.02196 16.5743 0.329447 15.7401C0.238187 15.7003 0.179325 15.61 0.179672 15.5103V15.4005C0.179672 15.257 0.295903 15.1407 0.439282 15.1407C2.29389 15.0796 4.08234 14.4366 5.55159 13.3026C3.87291 13.2688 2.36252 12.2744 1.66743 10.7453C1.63232 10.6617 1.64326 10.5659 1.69628 10.4925C1.7493 10.419 1.83676 10.3785 1.92704 10.3856C2.43723 10.4369 2.95252 10.3894 3.44476 10.2458C1.59163 9.86109 0.199219 8.32265 -5.73415e-05 6.43969C-0.00713991 6.34936 0.0333397 6.26187 0.106758 6.20882C0.180176 6.15577 0.27592 6.14483 0.359402 6.17996C0.8567 6.39939 1.39353 6.51496 1.93703 6.51961C0.313252 5.45384 -0.388112 3.42672 0.229597 1.58469C0.293359 1.4057 0.446548 1.27347 0.632868 1.2366C0.819189 1.19972 1.01116 1.26365 1.13823 1.40487C3.32941 3.73695 6.34014 5.12662 9.53559 5.28088C9.45374 4.95427 9.41349 4.61862 9.41578 4.28191C9.44566 2.51636 10.5381 0.943567 12.1816 0.299861C13.8251 -0.343846 15.6945 0.0689274 16.9145 1.34494C17.7461 1.18651 18.5501 0.907164 19.3009 0.515789C19.3559 0.481454 19.4256 0.481454 19.4806 0.515789C19.515 0.57081 19.515 0.640583 19.4806 0.695604C19.117 1.52835 18.5026 2.2268 17.7233 2.69355C18.4058 2.6144 19.0762 2.45341 19.7203 2.21404C19.7745 2.17713 19.8458 2.17713 19.9 2.21404C19.9454 2.23482 19.9794 2.27457 19.9929 2.32269C20.0063 2.37081 19.9979 2.42242 19.9699 2.46378Z" fill="white")
           li.footer__socials 
             a(href="https://www.facebook.com/Brusselsdance", aria-label="facebook" target="_blank", rel="noopener noreferrer") 
              span.footer__socials-icon 
                 svg(width="10" height="19" viewBox="0 0 10 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                   path( d="M9.34505 10.6857L9.86335 7.2471H6.62157V5.01748C6.59898 4.76069 6.63343 4.50202 6.72237 4.26061C6.81132 4.01921 6.95248 3.80124 7.1354 3.62286C7.31832 3.44448 7.53833 3.31024 7.77913 3.23009C8.01993 3.14994 8.27536 3.12592 8.52652 3.15982H10.0007V0.232209C9.13525 0.0899754 8.26077 0.0123654 7.38422 0C4.71392 0 2.9685 1.64395 2.9685 4.62842V7.24915H0V10.6857H2.9685V19H6.62157V10.6857H9.34505Z" fill="white")
     .footer__bottom
         p.date
         .credit 
           p.credit__dev Designé et codé par Sykovaris Dimitrios
           p.credit__logo Logo par Jeanne Constantin