footer
  .footer__container.w-90
     .footer__item
         h4 Contact
         a(href="mailto:coordination@brusselsdance.eu") coordination@brusselsdance.eu
     .footer__item
         h4 Test
     .footer__item
         h4 Test