-const navigation = [{url : "/", value : "Accueil"}, {url : "/programme", value : "Programme"}, {url : "/agenda", value : "Agenda"}, {url : "/lieux", value : "Lieux"}, {url : "/artistes", value : "Artistes"}]
header.menu.w-90
 .menu__container 
   a#logo(href="/") Logo here
   nav.menu__nav
     .menu-line
     ul.menu__wrapper
      each indexNav in navigation
       li.menu__list  
         a.menu__link(href=indexNav.url)=indexNav.value